<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wordik.Properties.Settings.RotekConnectionString"
            connectionString="Data Source=77.234.226.34;Initial Catalog=Bakalarka;Persist Security Info=True;User ID=lubosch;Password=aassdd;Connect Timeout=4;ConnectRetryCount=0;ConnectRetryInterval=4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>