<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Instalacka.Properties.Settings.RotekConnectionString"
            connectionString="Data Source=77.234.226.34;Initial Catalog=Bakalarka;Persist Security Info=True;User ID=lubosch;Password=aassdd" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
